@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,500&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    @apply text-2xl lg:text-4xl font-semibold font-poppins;
  }
  h2 {
    @apply text-xl lg:text-2xl font-medium font-poppins;
  }
  h3 {
    @apply text-base lg:text-lg font-poppins;
  }
  text {
    @apply text-sm lg:text-base font-normal font-poppins;
  }
}

/* .App {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(79deg, #fffdd0 100%);
} */

.auth-form-container {
  display: flex;
  font-weight: 200;
  font-family: poppins;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 36rem;
}

/* mobile devices */
@media screen and (min-width: 600px){
    .auth-form-container {
        display: flex;
        font-weight: 200;
        font-family: poppins;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
      }
  }

.login-form, .register-form {
  display: flex;
  font-weight: 200;
  font-family: poppins; 
  flex-direction: column;
}


label {
  text-align: left;
  padding: 0.25rem 0;
}

/* class="text-left p-1" */

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color:whitesmoke;
}

/* class="m-1 p-4 border-none rounded-xl bg-whitesmoke" */

button {
  border: none;
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  padding: 20px;
  border-radius: 99px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: white;
  align-content: flex-end;
  width: 100%;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}
