@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,500&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 {
    @apply text-2xl lg:text-4xl font-semibold font-poppins;
  }
  h2 {
    @apply text-xl lg:text-2xl font-medium font-poppins;
  }
  h3 {
    @apply text-base lg:text-lg font-poppins;
  }
  text {
    @apply text-sm lg:text-base font-normal font-poppins;
  }
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}

.auth-form-container {
  display: flex;
  font-weight: 200;
  font-family: poppins; 
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.login-form, .register-form {
  display: flex;
  font-weight: 200;
  font-family: poppins; 
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  padding: 20px;
  border-radius: 99px;
  cursor: pointer;
  color: white;
  align-content: flex-end;
  width: 100%;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}
